:root {
    --color-accent: #febf4c;
    --color-accent100: #FEF5E7;
    --color-accent300: #FCE7C5;
    --color-accent500: #F9CB80;
    --color-accent700: #B97509;
    --color-accent-trans: #F5A5242a;
    --color-accent-shadow: #F5A5246a;

    --color-blue: #0072F5;
    --color-blue700: #005FCC;
    --color-blue500: #5EA2EF;

    --color-text: #11181C;
    --color-text-secondary: rgba(17, 24, 28, 0.7);

    --color-bg: #f2f4f7;
    --color-bg-trans: rgba(255, 255, 255, 0.75);
    --color-surface: #f0f1e2;
    --color-border: rgba(0, 0, 0, 0.1);
    --color-contrast: rgba(0, 0, 0, 0.2);
    --color-fg: #000;

    --shadow0: 0px 2px 12px #00000010;
    --shadow1: 0px 5px 15px #00000012;
    --shadow2: 0px 4px 8px #00000010;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-accent: rgb(236, 81, 122);

        --color-text: #bdbdbd;
        --color-text-heading: #e3e3e3;
        --color-text-secondary: #a9a9a9a0;

        --color-bg: #111111;
        --color-border: rgba(255, 255, 255, .1);

        --shadow0: 0px 2px 12px #00000030;
        --shadow1: 0px 5px 15px #00000045;
        --shadow2: 0px 4px 8px #00000040;
    }
}