.secondary {
    margin-top: 0;
    color: var(--color-text-secondary);
}

.info {
    margin-top: 12px;
    color: var(--color-text-secondary);
}

.mb-16 {
    margin-bottom: 16px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-4 {
    margin-top: 4px;
}

.pm-0 {
    padding: 0;
    margin: 0;
}

.m-0 {
    margin: 0;
}

.p-12 {
    padding: 12px;
}

.horizontal {
    display: flex;
    align-items: center;
    gap: 12px;
}

.h-center {
    justify-content: center;
}

.h-space {
    justify-content: space-between;
}