.secondary {
    margin-top: 0;
    color: var(--color-text-secondary);
}

.sub {
    font-weight: 400;
    color: var(--color-accent700);
    margin-bottom: 6px;
}

.info {
    margin-top: 12px;
    color: var(--color-text-secondary);
}

.error {
    margin-top: 12px;
    color: #F31260;
}

.mb-4 {
    margin-bottom: 4px !important;
}

.mb-16 {
    margin-bottom: 16px !important;
}

.mb-32 {
    margin-bottom: 32px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-4 {
    margin-top: 4px !important;
}

.pm-0 {
    padding: 0 !important;
    margin: 0 !important;
}

.m-0 {
    margin: 0 !important;
}

.p-12 {
    padding: 12px !important;
}

.p-36 {
    padding: 36px !important;
}

.mr-16 {
    margin-right: 16px;
}

.horizontal {
    display: flex;
    align-items: center;
    gap: 12px;
}

.h-center {
    justify-content: center;
}

.h-end {
    justify-content: end;
}

.h-space {
    justify-content: space-between;
}

.h-align-center {
    align-items: center;
}

.h-align-end {
    align-items: end;
}

.small-screen {
    /* transition: all .2s; */
}

.relative {
    position: relative;
}

.labeled {
    margin-bottom: 8px;
}

.labeled label {
    font-size: .9rem;
    display: block;
    font-weight: 600;
    margin-bottom: 4px;
}

.labeled input {
    width: 100%;
}

span.badge {
    background-color: var(--color-accent-trans);
    border-radius: 4px;
    padding: 2px 4px;
    margin: 0;
    font-size: .8rem;
    font-weight: 500;
    color: var(--color-accent);
}

@media screen and (min-width: 640px) {
    .small-screen {
        display: none !important;
    }
}

